<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656337171009-od99iqmi6p4g001f5mkhqq8k4sfd48gg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656337171009-od99iqmi6p4g001f5mkhqq8k4sfd48gg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>656337171009-fijc60gelhsrspduqh6qckas24e60phb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3_P02Rm1DiF53w96fKhtgXIaiXnyPQ8k</string>
	<key>GCM_SENDER_ID</key>
	<string>656337171009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaff.abdullah.asad</string>
	<key>PROJECT_ID</key>
	<string>abdullah-alsaad</string>
	<key>STORAGE_BUCKET</key>
	<string>abdullah-alsaad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656337171009:ios:47b78f411121e1251dccc0</string>
	<key>DATABASE_URL</key>
	<string>https://abdullah-alsaad.firebaseio.com</string>
</dict>
</plist>